.aboutContainer {
  width:100%;
  background:
    radial-gradient(circle at left, transparent 50%, rgba(0,0,0,0.04) 50%),
    radial-gradient(circle at top left,transparent 50%,rgba(0,0,0,.04) 0),
    linear-gradient(0deg,#d0dbf3,rgba(208,219,243,0));
}
.peopleContainer {
	display:flex;
	position:relative;  
}
.peopleContainer > section {  
	display:flex;
	flex-direction: column;
	align-items:center;
	width:50%;
	padding: 0 2em;
	box-sizing:border-box;  
  position:relative;
  margin-top:-20px;
  opacity:0;
  animation:fadeIn 0.5s linear forwards;
  position:relative;  
}  

@keyframes fadeIn {
  from {
    opacity:0;
    margin-top:-20px;
  }
  to {
    opacity:1;
    margin-top:0;
  }
}

.peopleContainer h2 {
  margin:0;
  padding:1em 0;
  text-align: center;
}

.cont-resume {
	color:white;
  text-decoration: none;
  text-align:center;
  padding:1em 0;
}

.cont-resume > button {
	text-align:center;
	color:white;
  box-shadow: 0 3px 1px rgba(0,0,0,0.3);
  padding:0.5em 1em;
  border-radius:3px;
  transition:all 0.1s linear;    
  cursor:pointer;
  border:none;
  text-decoration: none;	 
}

.cont-maria-resume >button {
	background-color:#077eff;
}
.cont-diego-resume >button {
	background-color:#FF4F00;
}

.cont-diego-resume  >button:hover {
  background-color: #ff7e42;
  box-shadow: none;
}

.cont-maria-resume >button:hover {
  background-color: #077eff;
  box-shadow: none;
}

.cont-diego-resume >button:active {
  background-color: #be3c00;
  box-shadow: 0 3px 15px 1px rgba(0,0,0,0.3);
}

.cont-maria-resume  >button:active {
  background-color: #077eff;
  box-shadow: 0 3px 15px 1px rgba(0,0,0,0.3);
}

.diegoContainer > .flame > div:first-of-type{
	background-image:url('./images/diego.jpg');
	background-color:#ff4a00;
	width:150px;
	height:150px;
	background-size:cover;
	background-repeat: no-repeat;
	border-radius:50%;
	position:relative;
	z-index:3;
}

.mariaContainer > .flame > div:first-of-type{
	background-image:url('./images/maria.jpg');
	background-color:#007aff;
	width:150px;
	height:150px;
	background-size:cover;
	background-repeat: no-repeat;
	border-radius:50%;
	z-index:3;
	position:relative;
	
}

.peopleContainer > section > p {
	text-align:justify;
	margin:0;
	line-height: 1.5;
	font-size:15px;
}
.peopleContainer > section > p:first-of-type {
	text-transform: uppercase;
  font-weight:bold;
  padding:1em 0 0 0;
}

.peopleContainer blockquote {
  
  border-left: 3px solid;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\2019";
}

.peopleContainer blockquote p {
  display: inline;
}

.peopleContainer blockquote:before {
  
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}

.mariaContainer blockquote {
  border-color:#077eff;
}

.mariaContainer blockquote:before {
  color:#077eff;
}

.diegoContainer blockquote {
  border-color:#fc4900;
}

.diegoContainer blockquote:before {
  color:#fc4900;
}

.hobbies-for-mobile {
  display:none;
}

.hobbies-align-bottom {
  display:flex;
  align-items:center;
  justify-content:space-around;
  padding:2em 0;
}


.alignBottom {
  position:absolute;
  bottom:50px;  
  font-style:italic;
}

.hobbies-align-bottom h3, .hobbies-for-mobile h3 {
  margin:0;
	padding:0.5em 0;
	text-align:center;
}

.hobbies-align-bottom ul, .hobbies-for-mobile ul {
  list-style-type: none;
	text-align:center;
	padding:0;
	margin:0;
}

.hobbies-align-bottom ul > li, .hobbies-for-mobile ul > li {
  text-transform: uppercase;
  font-size:0.8em;
}


.flame {  
  margin: 0 auto;
  position:relative;  
  width:150px;
  height:150px;
  border-radius:50%;
  
  
}

.diegoContainer > .flame {
	box-shadow: 0 0 7px #FFEE58, 0 0 15px 5px #fc4900;
}

.mariaContainer > .flame {
	box-shadow: 0 0 7px #d9f9ff, 0 0 15px 5px #077eff;
}

.flame > div:nth-of-type(2) {
  position:absolute;
  border-radius:50%;
  z-index:1;
  top:0;
  left:0;
  width:100%;
  height:100%;
  
}

.diegoContainer > .flame > div:nth-of-type(2) {
	animation: flameBeforeDiego  3s infinite;
}

.mariaContainer > .flame > div:nth-of-type(2) {
	animation: flameBeforeMaria  3s infinite;
}

.flame > div:nth-of-type(2):before {
  position:absolute;
  border-radius:50%;
  z-index:1;
  top:0;
  left:0;
  width:100%;
  height:100%;
  
}

.diegoContainer > .flame > div:nth-of-type(2):before {
	animation: flameAfterDiego  1.8s infinite;
}

.mariaContainer > .flame > div:nth-of-type(2):before {
	animation: flameAfterMaria  1.8s infinite;
}

.flame > div:nth-of-type(2):after {
  position:absolute;
  border-radius:50%;
  z-index:1;
  top:0;
  left:0;
  width:100%;
  height:100%;
  
}

.diegoContainer > .flame > div:nth-of-type(2):after  {
	animation: flameBeforeDiego  3.5s infinite;
}

.mariaContainer > .flame > div:nth-of-type(2):after  {
	animation: flameBeforeMaria  3.5s infinite;
}

.flame:before {
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  border-radius:50%;
  content:'';
  z-index:1;
  
 
}

.diegoContainer > .flame:before {
	 animation: flameBeforeDiego  1.5s infinite;
}


.mariaContainer > .flame:before {
	 animation: flameBeforeMaria  1.5s infinite;
}

.flame:after {
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  border-radius:50%;
  content:'';
  z-index:1;
  
  
}

.diegoContainer > .flame:after {
	animation: flameAfterDiego 2.5s infinite;
}

.mariaContainer > .flame:after {
	animation: flameAfterMaria 2.5s infinite;
}

@keyframes flameAfterDiego {
  0% {
  box-shadow: 0 0 10px 3px #F9A825, 0 0 18px 8px #FF3D00;
  transform:scaleY(0.9) rotate(0deg);
  }
  25% {
  box-shadow: 0 0 10px 3px #F9A825, 0 0 18px 8px #FF3D00;
  transform:scaleY(0.7) scaleX(0.8) rotate(70deg);
  }
  50% {
  box-shadow: 0 0 10px 3px #F9A825, 0 0 18px 8px #DD2C00;
  transform:scaleY(0.7) scaleX(1) rotate(120deg);
  }
  75% {
  box-shadow: 0 0 10px 3px #F9A825,  0 0 18px 8px #DD2C00;
  transform:scaleY(0.7) scaleX(0.8) rotate(190deg);
  }
  100% {
  box-shadow: 0 0 10px 3px #F9A825, 0 0 18px 8px #FF3D00;
  transform:scaleY(0.9) rotate(360deg);
  }
}

@keyframes flameBeforeDiego {
  0% {
  box-shadow:0 0 10px 3px #F9A825, 0 0 18px 8px #FF3D00;
  transform:scaleX(0.9) rotate(0deg);
  }
  25% {
  box-shadow:0 0 10px 3px #F9A825, 0 0 18px 8px #FF3D00;
  transform:scaleX(0.7) scaleY(0.8) rotate(50deg);
  }
  50% {
  box-shadow:0 0 10px 3px #F9A825, 0 0 18px 8px #DD2C00;
  transform:scaleX(0.7) scaleY(1) rotate(110deg);
  }
  75% {
  box-shadow:0 0 10px 3px #F9A825, 0 0 18px 8px #DD2C00;
  transform:scaleX(0.7) scaleY(0.8) rotate(170deg);
  }
  100% {
  box-shadow: 0 0 10px 3px #F9A825, 0 0 18px 8px #FF3D00;
  transform:scaleX(0.9) rotate(360deg);
  }
}


@keyframes flameAfterMaria {
  0% {
  box-shadow: 0 0 10px 3px #d3e4ff, 0 0 18px 8px #0072ff;
  transform:scaleY(0.9) rotate(0deg);
  }
  25% {
  box-shadow: 0 0 10px 3px #d3e4ff, 0 0 18px 8px #0072ff;
  transform:scaleY(0.7) scaleX(0.8) rotate(70deg);
  }
  50% {
  box-shadow: 0 0 10px 3px #d3e4ff, 0 0 18px 8px #0072ff;
  transform:scaleY(0.7) scaleX(1) rotate(120deg);
  }
  75% {
  box-shadow: 0 0 10px 3px #d3e4ff,  0 0 18px 8px #0072ff;
  transform:scaleY(0.7) scaleX(0.8) rotate(190deg);
  }
  100% {
  box-shadow: 0 0 10px 3px #d3e4ff, 0 0 18px 8px #0072ff;
  transform:scaleY(0.9) rotate(360deg);
  }
}

@keyframes flameBeforeMaria {
  0% {
  box-shadow:0 0 10px 3px #d3e4ff, 0 0 18px 8px #0072ff;
  transform:scaleX(0.9) rotate(0deg);
  }
  25% {
  box-shadow:0 0 10px 3px #d3e4ff, 0 0 18px 8px #0072ff;
  transform:scaleX(0.7) scaleY(0.8) rotate(50deg);
  }
  50% {
  box-shadow:0 0 10px 3px #d3e4ff, 0 0 18px 8px #0072ff;
  transform:scaleX(0.7) scaleY(1) rotate(110deg);
  }
  75% {
  box-shadow:0 0 10px 3px #d3e4ff, 0 0 18px 8px #0072ff;
  transform:scaleX(0.7) scaleY(0.8) rotate(170deg);
  }
  100% {
  box-shadow: 0 0 10px 3px #d3e4ff, 0 0 18px 8px #0072ff;
  transform:scaleX(0.9) rotate(360deg);
  }
}




@media (max-width:600px) {

  .hobbies-align-bottom > div:first-of-type {
    display:none;
  }

  .hobbies-for-mobile {
    display:block;
  }
	
.aboutContainer:before {
  display:none;
}

.peopleContainer {
	flex-direction:column;
}

.peopleContainer > section {
  width:100%;  
  position:relative;  
}
}

