.apod-containerOfStars-light {
  width:100%;
  height:100vh;
  position:fixed;  
  z-index:-1;
  background: linear-gradient(35deg, #00afb3, #630080);
}

.apod-containerofStars-dark {
  width:100%;
  height:100vh;
  position:fixed;  
  z-index:-1;
  background: linear-gradient(to top right, #223254 , #040d20); 
}

.apod-starsAnimation {
	animation:stars linear infinite;
}

@keyframes stars {
  
  0% {  transform: rotate(0deg) translateX(1px) rotate(0deg);  }
  100%   {  transform: rotate(360deg) translateX(1px) rotate(-360deg);  }
  
}