.progress-bar-container {
    width:100%;
    padding: 1em 1em 0 1em;
    box-sizing:border-box;
    height:5em;
    background-color:white;
    display:flex;
    align-items:center;
    justify-content: space-around;
    margin:0 auto;
}

.progress-container {
    width:80%;
    height:3px;
    background-color:#dedede;
    border-radius:3px;
    display: flex;    
    justify-content: space-between;
    position: relative;
}

.auth-progress {
    transition:width 0.5s linear, background-color 0.5s linear;
    background-image: linear-gradient(
    -45deg, 
    rgba(255, 255, 255, .4) 25%, 
    transparent 25%, 
    transparent 50%, 
    rgba(255, 255, 255, .4) 50%, 
    rgba(255, 255, 255, .4) 75%, 
    transparent 75%, 
    transparent
  );
  background-size: 20px 20px;
    height:3px;    
    position:absolute;
    z-index:1;
    animation: progressMove 2s linear infinite;
}

.auth-progress-end {
  animation-play-state: paused;
}

@keyframes progressMove {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 50px 50px;
  }
}
.auth-progress:after {
    width:10px;
    height:10px;
    position:absolute;
    content:'';
    background-color:#aaaaaa;
    border-radius:50%;
    right:-5px;
    top:-3px;
}

.progress-container > p {
    margin:0;
    width:2px;
    height:10px;
    background-color:#dedede;
    position:relative;
}

.progress-container > p >i {
    width:10px; 
    height:5px;
    transform:rotate(-45deg);     
    position:absolute;    
    left:-5px;
    top:25px;   
}

.i-checked:after {
    width:0;
    position:absolute;
    content:'';
    height:0;
    top:0;
    left:0;
    border:2px solid green;
    border-right:2px solid transparent;
    border-top:2px solid transparent;
    animation:checkedAfter 0.3s linear forwards;
}
.i-checked:before {
    width:25px;
    position:absolute;
    content:'';
    height:25px;
    bottom:-14px;
    left:-8px;
    background-color:greenyellow;
    border-radius:50%;
    opacity:0;
    animation: checkedBefore 0.1s linear forwards;
    box-shadow: inset 0px 3px rgb(123, 212, 97);
}

@keyframes checkedBefore {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }

}


@keyframes checkedAfter {
    0% {        
        width:0;
        height:0;
    }
    50% {       
        width:0;
        height:100%;
    }
    100% {       
        width:100%;
        height:100%;
    }
}


.auth-lock-container {
    width:50px;
    height:40px;
    transform-origin:center;    
    transform:rotate(25deg);
    margin-top:2em;
    position:relative;
  }

  .auth-lock-container-opening {
    animation:shaking 0.3s 0.3s ease-in backwards 3;
  }
  .auth-lock-container-opening:before {
    animation:authLight 0.3s 0.3s ease-in forwards;
  }
  
  .auth-lock-container:before {
    position:absolute;
    content:'';
    top:50%;
    left:50%;
    transform:translateX(-50%) translateY(-50%);
    border-radius:50%;
    background:radial-gradient(orange, yellow);    
    width:30px;
    height:30px;
    
    z-index:-1;
  }

  .auth-lock {
    width:50px;
    height:40px;  
    background-color:#FFA726;
    position:relative;
    box-shadow: 
    inset 8px -3px 0px #FA8324, inset -3px 0 0px #FFA726, inset -9px 0 0px rgba(255,255,255,0.6)
  }
  .auth-lock-opening:before {
    animation:unlockBefore 0.3s 0.3s linear forwards;
  }

  .auth-lock-opening:after {
    animation:unlockAfter 0.3s 0.3s linear forwards;
  }
  
  
  .auth-lock:before {
    width:30px;
    height:30px;  
    box-shadow: 0px -2px 0px 0px rgba(0,0,0,0.2), 1px 1px 5px 0px rgba(255,255,255,1), 0 0 0 5px #BDBDBD;
    border-bottom:20px solid transparent;
    position:absolute;
    content:'';
    top:-20px;
    left:10px;  
    border-radius:40px;
    z-index:-1;
    
  }
  
  .auth-lock:after {
    position:absolute;
    content:'';
    width:10px;
    background-color:white;
    height:10px;
    right:3px;
    z-index:-1;
    
  }
  
  
  
  @keyframes authLight {
    from {
      transform:translateX(-50%) translateY(-50%) scale(1);
      opacity:1;
    }
    to {
      transform:translateX(-50%) translateY(-50%) scale(5);
      opacity:0;
    }
  }
  
  @keyframes shaking {
    0% {
      
      transform:rotate(25deg);
      
    }
    50% {
      transform:rotate(15deg);
      
    }
    
    100% {
      transform:rotate(25deg);
    }
  }
  
  
  @keyframes unlockBefore {
    0% {
      top:-20px;    
    }
    50% {
      top:-15px;
    }
    60% {
      top:-20px;
    }
    100% {
      top:-30px;      
    }
  }
  
  @keyframes unlockAfter {
    0% {
      top:0px;    
    }
    60% {
      top:0px;    
    }
    100% {
      top:-10px;    
    }
  }

  @media (max-width:600px) {
    .auth-lock-container {
      display:none;
    }
  }