.comparisonContainer {	
	width:100%;	
	background: linear-gradient(to top, rgb(208, 219, 243), rgba(208, 219, 243,0));
}

.comparisonContainer > h1 {	
	text-align:center;
	padding-top:0.5em;
	margin:0;
	position:relative;
}

.separatorc {
	width:2px;
	background:linear-gradient(to top, transparent, #040D20, transparent);	
	margin:1em;
}

.reactVsNg {
	display:flex;
	padding-bottom:4em;	
}

.reactVsNg > div {
	width:50%;
}

.ngContainer > iframe {
	width:100%;
	border:none;
	height:100%;
	overflow-y: scroll;
}

.comparisonNotSupported {
	display:none;
	margin:0 auto;
	color:red;
	font-weight:bold;
	text-align:center;
	padding:1em 0;
}

@media (max-width:700px) {

	.comparisonContainer > h1 { 
		font-size:2em;
	}
	.reactVsNgTitle {
		
		width:80%;
	}
	.comparisonNotSupported {
		display:block;
	}
	
	.reactVsNg {
		display:none;
	}

}