.container-comp {
  width: 100%;
  margin: 0 auto;
  
}

.comp-loader {
  width:100%;
  height:80vh;  
}

.comp-loader > div {
  width:80px;
  height:80px;
  border-radius:50%;
  border:4px solid transparent;
  border-left:4px solid #49C8EF;
  animation: comp-spin 1s linear infinite;
  margin:0 auto;
  margin-top:3em;
}

@keyframes comp-spin {
  from {
    transform:rotate(0deg);
  }
  to {
    transform:rotate(360deg);
  }
}

.paginator-comp {
  text-align: center;
  
}
.paginator-comp > button {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  background-color: transparent;
  font-size: 1.5em;
  outline: none;
  border: 3px solid transparent;
  color: #9e9e9e;
  cursor: pointer;
}

.paginator-comp > button:hover {
  color: #263238;
}

.paginator-comp > button:active {
  background-color: lightgrey;
  border: 3px solid silver;
}

.row-comp {  
  padding-bottom:2em;
  box-sizing: border-box;   
  
}

.description-comp {
  display:flex;
}

.row-comp > p {
  font-weight: bold;
  font-size: 1.2em;
  padding: 0 15px 10px 15px;
  box-sizing: border-box;
  margin:0;
}


.description-comp > p {
  width: 80%;
  text-align: justify;
  font-size:0.9em;
  padding: 0 15px;
  margin:0;
}
.description-comp > div {
  width: 20%;
  padding: 0 1em;
  box-sizing: border-box;  
}
.description-comp > div > img {
  border-radius: 3px;
}