.specialties-container {
    width:100%;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    padding:2em 0 4em 0;    
    position: relative;
    z-index:1;
    color:white;
}

.specialties-container-light {
    background: linear-gradient(35deg, #00afb3, #630080);
}

.specialties-container-dark {
    background: linear-gradient(to top left, #2b4680, #6680b9);
}

.specialties-grid {
    display:flex;    
    justify-content:space-around;
    flex-wrap: wrap;
    width:80%;
}

.specialties-grid > div {    
    width:20%;    
    border-radius:3px;
    box-shadow: 0 9px 40px 4px rgba(0,0,0,.3);
    color:initial;
    transition:all 0.1s linear;
    position:relative;   
}
.specialties-grid > div:hover {
    transform:scale(1.02);
}

.specialties-grid > div:before {
    position:absolute;
    content:'';
    width:40px;
    height:40px;
    background-size:80%;
    background-position:center;
    background-repeat: no-repeat;
    border-radius:50%;
    top:-20px;
    right:-20px;
    box-shadow:0 0 10px rgba(0,0,0,0.4);
    transition:all 0.1s linear;
}

.specialties-grid > div:hover:before {
    transform:scale(1.2) rotate(10deg);
}

.specialties-frontend:before {
    background:url('../CarouselComponent/images/reactlogo.png'),#333333;
}

.specialties-backend:before {
    background:url('../CarouselComponent/images/node-logo.png'),#333333;
}

.specialties-cloud:before {
    background:url('../CarouselComponent/images/awslogo.png'),#232F3E;
}
.specialties-db:before {
    background:url('../CarouselComponent/images/mongodb.png'),#343637;
}

.specialties-grid > div > h3 {
    margin:0 auto;
    padding:0.5em 0;
    text-align:center;
    border-bottom:1px solid rgba(0,0,0,0.1);
    width:80%;
    font-size:1.1em;
}

.specialties-grid > div > ul {
    padding:1em;
    margin:0;
    list-style-type: none;
    text-align:center;
}
.specialties-grid > div > ul li {
    font-size:0.9em;
    line-height:1.5em;
    color:rgba(0,0,0,0.7);
}

.specialties-frontend {
    background:linear-gradient(to top right, white, #d3f5ff);
}

.specialties-backend {
    background:
    linear-gradient(to top right, white, #e2ffc3);
}

.specialties-cloud {
    background:
    linear-gradient(to top right, white, #ffe2b6);
}

.specialties-db {
    background:
    linear-gradient(to top right, white, #dddddd);
}

.specialties-frontend h3 {
    color:#49C8EF;
}

.specialties-backend h3 {
    color:#8CC84B;
}

.specialties-cloud h3 {
    color:#FF9900;
}

@media(max-width:900px) {
    .specialties-grid > div {    
        width:30%;
        margin-bottom:2em;
    }
}

@media(max-width:700px) {
    .specialties-grid > div {    
        width:45%;
    }
}

@media(max-width:500px) {
    .specialties-grid > div {    
        width:90%;
    }
}