
.pr-starsContainer {
  padding:0.5em 0;
  height:20px; 
  text-align:initial; 
}

.pr-popUp {
	color:hsl(220,100%,10%);
	font-size:0.9em;
	position:absolute;
	visibility: hidden;
	background-color:white;
	left:0;
	right:0;	
	z-index:3;
	padding:0.5em;
	border-radius:5px;	
	box-sizing:border-box;
	transition:all 0.3s linear;
	opacity: 0;
	margin-top:0;
	display:flex;
	flex-direction:column;
	align-items:center;
	justify-content:space-around;
}

.pr-popUp:before {
  position:absolute;
  content:'';
  margin:0 auto;
  top:-15px;
  left:0;
  right:0;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 20px solid white;
}

.pr-hoverPopUp {
	position:relative;
	transition:all 0.3s linear;
	width:10em;
	padding: 0.5em 0;
    font-size: 0.9em;
	margin:0 auto;
	cursor:pointer;
	z-index:1;

}

.pr-popUp > p {
	padding:0.7em 0 0 0;
	margin:0;
}

.pr-popUp > h2 {
	
	width:30px;
	height:30px;
	color:#3F5483;
	margin:0;
	position:relative;
}
.pr-popUp > h2:before {

	z-index:-1;
	margin:0;
	position:absolute;
	content:'';
	width:100%;
	height:100%;
	border-radius:50%;
	box-sizing:border-box;
	background-color:#88A0D5;	
	transform:scale(0.5);
	transform-origin: center;
	
	top:0;
	left:0;
	animation: glow 2s linear infinite;
}


@keyframes glow {
	0% {
		transform:scale(0);
		opacity:0.6;
		
	}

	10% {
		transform:scale(0.4);
		
		
	}
	
	100% {
		transform:scale(1.4);
		opacity:0;
		
	}
}

.pr-hoverPopUp:hover .pr-popUp {
	visibility:visible;
	opacity:1;
	margin-top:10px;
	transition:all 0.3s linear;
}

@media (max-width:600px) {
	.pr-popUp {
		width:150px;
	}
}


