.endFooter-light {  
  background-color:#3a3a3a; 
}

.endFooter-dark {	
	background-color:#141414;
}

.endFooter {
	position:relative;	
	padding:1em 0;
	box-shadow:inset 0 20px 20px -20px rgba(0,0,0,0.5);
	width:100%;
}
  

.endFooter img {
	width:60px;
	height:60px;
	margin:0 auto;
	display:block;
}

.endFooter > hr:first-of-type {
	width:20em;
	height:2px;
	background:linear-gradient(to left, rgba(0,0,0,0), white, rgba(0,0,0,0) );
	border:none;
}

.linksContainer {
	display:flex;
	align-items:center;
	justify-content:center;
}

.linksContainer > div {
	display:flex;
	flex-direction:column;
	width:10em;
}

.linksContainer > div > a {
	color:white;
	text-decoration:none;
	text-align:center;
	padding:0.5em 0;
	cursor:pointer;
	text-transform: capitalize;
	font-size:0.9em;
	transition:all 0.1s linear;
}

.linksContainer > div > a:hover {
	color:#D0DBF3;
}

.endFooter > hr:nth-of-type(2) {
	width:10em;
	height:1px;
	background:linear-gradient(to left, rgba(0,0,0,0), white, rgba(0,0,0,0) );
	border:none;
}

.endFooter > p {
	margin:0;
	text-align:center;
	color:rgba(255,255,255,0.6);
	font-size:0.8em;
	font-style: italic;
}

@media (max-width:700px) {
	.linksContainer {
		flex-direction:column;
	}
	.linksContainer > div {
		padding:0;
	}
}