.dev-workContainer {	
	width:100%;
}

.dev-btn-white-light > button{
	background-color:#ff7403;
	color:white;	
	padding:1em 2em;
	border-radius:3px;
	transition:all 0.1s linear;
	box-shadow: 0 3px 1px rgba(0,0,0,0.3);	
	margin:0 auto;
	margin-top:1em;
	border:none;
	outline:none;
}

.dev-btn-white-light > button:hover {
	background-color:#b85300;	
	box-shadow: none;	
}
.dev-btn-white-light > button:active {
	background-color:rgb(4, 13, 32);
	box-shadow: 0 3px 15px 1px rgba(0,0,0,0.3);	
}


.dev-btn-white-dark > button{
	background-color:transparent;
	color:#040D20;	
	padding:1em 2em;
	border-radius:3px;
	transition:all 0.1s linear;		
	margin:0 auto;
	margin-top:1em;
	border:1px solid #040D20;
	outline:none;
}

.dev-btn-white-dark > button:hover {
	background-color:#040D20;	
	color:white;	
}


.dev-secondDiv {
	padding-bottom:3em;
	background:
    radial-gradient(circle at left, transparent 50%, rgba(0,0,0,0.04) 50%),
    radial-gradient(circle at top left,transparent 50%,rgba(0,0,0,.04) 0),
    linear-gradient(0deg,#d0dbf3,rgba(208,219,243,0));
}

.dev-gitTitle {
	text-align:center;	
	padding:2em 0;
}
.dev-gitTitle > i {
	display:block;
	font-size:5em;
}
.dev-gitTitle > p {
	margin:0;
	padding:0;
	font-size:2em;
}

.dev-github {
	display:flex;
	justify-content:space-around;
	align-items:center;
	margin-top:10px;
	opacity:0;
	animation: fadeIn 0.5s linear forwards;
}

@keyframes fadeIn {
	from {opacity:0; margin-top:10px;}
	to {opacity:1;margin-top:0;}
}

.dev-feedsPresentation {
	background:linear-gradient(to top left, white 50%, #eaeaea 50%);
	box-shadow: inset 0 15px 15px -15px rgba(0,0,0,0.7),  inset 0 -15px 15px -15px rgba(0,0,0,0.7);
}

.dev-feedsPresentation > div > h1 {
	margin: 0;
    padding: 0;
    font-size: 2.2em;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 2px;
     font-weight:normal;
}

.dev-feedsPresentation > div > hr {
	border: 0;
    height: 2px;    
    background: linear-gradient(to right, rgba(0, 0, 0, 0), #101010, rgba(0, 0, 0, 0));
}

.dev-feedsPresentation {
	height:800px;
	align-items:center;
	display:flex;	
	justify-content:space-around;
}

.dev-feedsPresentation > div:first-of-type {
	width:400px;
	text-align:center;
	opacity:0;
	margin-top:-10px;
	transition: all 0.5s linear;
}
.dev-feedsPresentation > div > h3  {
	text-align:center;
	margin:0;
	padding:1.5em 0.5em;
	text-transform: uppercase;
	font-size:1em;
}
.dev-feedsPresentation > div > p {
	margin:0;
	padding:0;
	text-align:justify;
	padding:0em 0.5em 1.5em 0.5em;
	box-sizing:border-box;
}
.dev-youtubepage {

	position:relative;	
	background-image: url('./images/youtubeList.jpg');
	width:683px;
	height:361px;
	background-size:cover;
	background-repeat:no-repeat;
	border:20px solid #484848;
	border-radius:20px;
	z-index:1;

}
.dev-youtubepage:before {
	position: absolute;
    content: '';
    background-color: white;
    height: 8px;
    left: 0;
    z-index: -1;
    right: 0;
    bottom: -35px;    
    border-radius: 30px;
    margin: 0 auto;
    width: 20%;
}

.dev-youtubepage:after {
	z-index:-2;
	position:absolute;
	content:'';
	bottom:-40px;
	left:0;
	width:100%;
	background-color:darkgrey;
	height:20px;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 50px;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 50px;
	transform:scale(1.2);
}

.reactVsNg-dark {
	background: linear-gradient(to top right, #223254 , #040d20);
}

.reactVsNg-light {
	background: linear-gradient(35deg, #00afb3, #630080);
}


.dev-reactVsNgPres {
	padding: 2em 0;	
	color:white;	
	box-shadow:  0 -10px 10px -10px rgba(0,0,0,0.7);
}

.dev-reactVsNgPres > div{
	display:flex;
	flex-direction:column;
	align-items: center;
	opacity:0;
	margin-top:15px;
	transition:all 0.5s linear;
}

.dev-reactVsNgPres h1 {
	margin: 0;
    padding: 0;
    font-size: 2.2em;
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;
     font-weight:normal;
     color:white;
}

.dev-comparisonGrid {
	display:grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 260px ;
	grid-auto-flow: row dense;
	grid-gap:50px;
	width:90%;
	max-width:1300px;
}


.dev-comparisonGrid > a > button {
	border:1px solid white;
	border-radius:3px;
	background-color:transparent;
	padding:1em 2em;
	color:white;	
	transition:all 0.1s linear;
}

.dev-comparisonGrid > a > button:hover  {
	color:#323c56;
	background-color:white;
}
.dev-comparisonGrid > a {
	text-decoration: none;
}

.dev-chatPresentation > div > h1 {
	margin: 0;
    padding: 0;
    font-size: 2.2em;
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;
     font-weight:normal;
}

.dev-chatPresentation > div > hr {
	border: 0;
    height: 2px;
    color:red;
    background: linear-gradient(to right, rgba(0, 0, 0, 0), #101010, rgba(0, 0, 0, 0));
}

.dev-chatPresentation {
	height:800px;
	align-items:center;
	display:flex;	
	justify-content:space-around;
	background:linear-gradient(to top right, white 50%, #eaeaea 50%);
	box-shadow: inset 0 15px 15px -15px rgba(0,0,0,0.7),  inset 0 -15px 15px -15px rgba(0,0,0,0.7);

}

.dev-chatPresentation > div:first-of-type {
	width:500px;
	text-align:center;
	order:1;
	opacity:0;
	margin-top:10px;
	transition:all 0.5s linear;
}
.dev-chatPresentation > div > h3  {
	text-align:center;
	margin:0;
	padding:1.5em 0.5em;
	text-transform: uppercase;
	font-size:1em;
}
.dev-chatPresentation > div > p {
	margin:0;
	padding:0;
	text-align:justify;
	padding:0em 0.5em 1.5em 0.5em;
	box-sizing:border-box;
}
.dev-chatpage {
	background-image: url('./images/chat88.jpg');
	background-size:cover;
	position:relative;	
	background-color:white;
	width:600px;
	height:317px;
	background-size:cover;
	background-repeat:no-repeat;
	border:20px solid #484848;
	border-radius:20px;
	z-index:1;
}

.dev-chatpage:before {
	position: absolute;
    content: '';
    background-color: #484848;
    height: 20px;
    left: 0;
    z-index: 1;
    right: 0;
    bottom: -120px;
    border-radius: 5px;
    margin: 0 auto;
    width: 35%;
}

.dev-chatpage:after {
	z-index: 0;
    position: absolute;
    content: '';
    bottom: -100px;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 20%;
    background: linear-gradient(to top left,darkgrey 60%, #989898 60%);
    height: 80px
}

.dev-nasaApods {
	width:100%;
  		
  	padding:2em 0 4em 0;
  	box-sizing:border-box;
  	color:white;
}

.dev-nasa-light {	
	background:url('./images/starryBackground.png'), linear-gradient(35deg, #00afb3, #630080);
	background-size:contain;
  	background-attachment: fixed
}

.dev-nasa-dark {
	background:url('./images/starryBackground.png'), linear-gradient(to top right, #223254 , #040d20);
	background-size:contain;
  	background-attachment: fixed
}

.dev-nasaApods > div {
	display:flex;
  	flex-direction:column;
  	align-items:center;
  	opacity:0;
  	margin-top:-15px;
  	transition:all 0.5s linear;
}

.dev-nasaApods > div > h1 {
	margin: 0;
    padding: 0;
    font-size: 2.2em;
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;
     font-weight:normal;     
}
.dev-nasaApods > div > p {
	text-transform: uppercase;
	font-weight:bold;
	padding: 1em 0 3em 0;
}

.dev-gridNasa {
	display:grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 260px;	
	grid-gap:50px;
	width:90%;
	max-width:1300px;

}

.dev-gridNasa > a > button {
	border:1px solid white;
	border-radius:3px;
	background-color:transparent;
	padding:1em 2em;
	color:white;	
	transition:all 0.1s linear;
}

.dev-gridNasa > a > button:hover  {
	color:#323c56;
	background-color:white;
}
.dev-gridNasa > a {
	text-decoration: none;
}


.dev-gridNasa > div:first-of-type {
	background-image:url('./images/crab.jpg');
	box-shadow:1px 1px 10px rgba(0,0,0,0.8);
}
.dev-gridNasa > div:nth-of-type(2) {
	background-image:url('./images/sombrero.jpg');
	box-shadow:1px 1px 10px rgba(0,0,0,0.8);
}

.dev-gridItem {
	border-radius:3px;
  display:flex;
  align-items:center;
  justify-content:center;
  text-align:justify;
  grid-column-start: auto;
  grid-row-start: auto;  
  background-size:cover;
  background-position:50%;
  background-repeat:no-repeat;
  color:white;
  transition: all 0.1s linear;  

}


.dev-gridItemText {
  font-style:italic;
  margin:0;
  box-sizing:border-box;
  padding:0 1em;

}

.dev-angularExamples {
	padding:1em 1em 3em 1em;
	box-sizing:border-box;
	background:linear-gradient(to top left, #A9A9A9, #080808);
	color:white;
	text-align:center;
}

.dev-angularExamples > h1 {
	font-size: 2.2em;    
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight:normal;
}
.dev-angularExamples >a >button {
	border:1px solid white;
	border-radius:3px;
	padding:1em 2em;
	background:none;
	color:white;
	transition:all 0.1s linear;
}


.dev-angularExamples >a  {
	display:none;
	text-decoration:none;
	padding:1em 0;
}
.dev-angularExamples > a:last-of-type {
	display:block;
}
.dev-angularExamples >a >button:hover {
	border:1px solid white;
	border-radius:3px;
	padding:1em 2em;
	background-color:white;
	color:#565657;
}


.dev-angularExamples > a:last-of-type > button {
	border:1px solid white;
	border-radius:3px;
	padding:1em 2em;
	background-color:white;
	color:#565657;
	transition:all 0.1s linear;
	box-shadow:0 2px 5px rgba(0,0,0,0.6);
	
}

.dev-angularExamples >a:last-of-type >button:hover {
	box-shadow:0 2px 15px 2px rgba(0,0,0,0.4);
}
.dev-angularExamples > iframe {
	width:95%;
	margin:0 auto;
	display:block;
	border:none;
	height:500px;
	margin-top:2em;
	box-shadow: 0 2px 10px rgba(0,0,0,0.5);
}

.dev-d3Histo {
	height:800px;
	width:100%;
	box-shadow: 0 0 10px rgba(0,0,0,0.7);
	background-color:white;
}

.dev-d3Histo > h1 {
	font-size: 2.2em;    
    letter-spacing: 2px;
    text-transform: uppercase;
    margin:0;
    padding:0.9em 0 0.2em 0;
    font-weight:normal;
    text-align:center;
}

.dev-d3Histo > h3  {
	text-align:center;
	margin:0;
	padding:0.2em 0;
	text-transform: uppercase;
	font-size:1em;
}


.dev-d3Histo >iframe{
	border:none;
	width:100%;
	height:100%;
}
@media(min-width:1400px) {
	.dev-chatpage {
	width:800px;
	height:422px;
	border:20px solid #484848;
	
}

}

@media (max-width:1350px) {

	.dev-youtubepage {	
    border-width: 15px ;
	width:546px;
	height:288px;	
}

	.dev-chatPresentation > div:first-of-type {
		width:400px;

	}
}



@media (max-width:1150px) {

	.dev-youtubepage {	
	width:341px;
	height:180px;	
}

.dev-chatpage {
	width:350px;
	height:185px;
	border:15px solid #484848;
	border-radius:10px;
}

.dev-chatpage:after {
	height:85px;
}
.dev-chatpage:before {
	height:15px;
	bottom:-115px;
}

.dev-youtubepage:after {	
	bottom:-30px;	
	height:15px;	
	border-bottom-right-radius: 50px;	
	border-bottom-left-radius: 50px;	
}

.dev-youtubepage:before {	
	bottom:-25px;	
	height:5px;	
		
}

}

@media (max-width:900px) {

	.dev-gridNasa {
	
	grid-template-columns: 1fr 1fr;
	grid-template-rows:repeat(3, 260px);
	

}

	.dev-github {
	flex-direction:column;
	
}

.dev-github > div {
	margin-bottom:2em;
}

}




@media (max-width:870px) {

		.dev-comparisonGrid {	
		grid-template-columns: 1fr;
		grid-template-rows: 200px 100px 200px ;	
		grid-gap:10px;	
	}

	.dev-youtubepage {	
	display:none;
}

.dev-chatpage {	
	display:none;
}

.dev-feedsPresentation {
	height:initial;
	padding:2em 0;
}
.dev-angularExamples > h1 {
	font-size:1.7em;
 }
 .dev-d3Histo > h1 {
	font-size:1.7em;
}
.dev-feedsPresentation >div >h1 {
	font-size:1.7em;
}
.dev-feedsPresentation > div:first-of-type {
	    width: 90%;
}

.dev-chatPresentation {
	height:initial;
	padding:2em 0;
}
.dev-chatPresentation >div >h1 {
	font-size:1.7em;
}
.dev-chatPresentation > div:first-of-type {
	    width: 90%;
}


}

@media (max-width:600px) {

	.dev-gridNasa {
	
	grid-template-columns: 1fr;
	grid-template-rows: repeat(4, 260px) 100px 260px;	
	grid-gap: 10px

}
	.dev-angularExamples > iframe {
		display:none;
	}

	.dev-angularExamples >a  {
	
	display:block;
	
}


}
